* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    background: #62306D;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 200px;
    aspect-ratio: 1 / 1;
    border: 40px solid #F7EC7D;
    border-radius: 50%;
    border-top-color: #E38F66;
    rotate: -45deg;
}